.movie-table-head {
  background-color: #f2f2f2;
}

// /* Style for table rows */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

// /* Style for table cells */
.table th,
.table td {
  padding: 2px;
}

/* Style for input field */
input.name {
  width: 100%;
  box-sizing: border-box;
}

.container1 {
  text-align: center;
}