<div class="container">
    <div class="container1" style="margin: 10px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-ls-12">
                    <h3>Add Expence</h3>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 20px;">
                <div class="col-12">
                    <input type=text placeholder="Filter By Member Name" class="form-control"
                        style="width: 500px; height: 25px;" />
                    <button class="btn btn-primary" mat-raised-button color="primary"
                        style="margin-left: 300px; width: 200px;" [routerLink]="['/splitGroup']">
                        <span class="fa fa-plus" style="padding-right: 2px;"> </span> Create Group</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <form>
                <div class="row" style="margin-top:10px;margin-left: 5px;margin-right: 5px;margin-bottom: 20px;">
                    <table class="table movie-table" style="color:rgb(97, 91, 91);">
                        <thead>
                            <tr class="movie-table-head">  
                                <th style="text-align: left; width: 50px;">S.No </th>
                                <th style="text-align: left;">Name</th>
                                <th style="text-align: left;">Amount</th>
                                <th style="text-align: left;">Details</th>
                                <th style="text-align: left;">Date</th>
                                <th>Members</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>