.container1 {
  display: flex;
  height: 100vh; /* Full screen height */
}

.details, .login-form {
  flex: 1; /* 1:1 ratio for both sides */
  padding: 20px;
}

.details {
  background-color: #a16db6; /* Left side ka color */
  display: flex;
  color: #f8f5f5;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Right side ka color */
}

